[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-news-photos
Exec=sailfish-qml harbour-news-photos
Name=News Photos
Name[nl]=Nieuwsfoto's
